<section {{ hydrogenBlack }} data-h2-padding="b(top, xl)">
  <div data-h2-container="b(center, m)" data-h2-font-color="b(white)">
    <span data-h2-text-align="b(center)">
      {% include title-h2.html title=page.stats.title %}
      <p data-h2-margin="b(top-bottom, l)">{{ page.stats.subtitle }}</p>
    </span>
    <div data-h2-flex-grid="b(top, expanded, flush, l)">
      {% for i in page.stats.statItems %}
        <div
          data-h2-flex-item="b(1of1) m(1of2)"
          data-h2-display="b(flex)"
          data-h2-align-items="b(flex-start)">
          <span
            {{ hydrogenPrimaryFont }}
            data-h2-margin="b(right, xxs)"
            style="width: 1.5rem">
            {{ i.icon }}
            </svg>
          </span>
          <p data-h2-margin="b(all, none)" style="flex: 1">{{ i.label }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
